<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quiz</title>
</head>
<body>
    <h1>Question {{ q_num }}: {{ question[0] }}</h1>
    <form action="" method="post">
        {% for option in question[1]['options'] %}
            <div>
                <input type="radio" id="{{ option }}" name="answer" value="{{ option }}">
                <label for="{{ option }}">{{ option }}</label>
            </div>
        {% endfor %}
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
    
